= render 'show'
.grid
  - user.followers.uniq.each do |follower|
    .well
      %strong
        %h4= link_to User.find(follower).username, user_path(id: follower)
      = link_to image_tag(User.find(follower).image.url(:thumb), class: "profile-image"), user_path(id: follower)