<div class="grid">
	<% @interests.group_by(&:category).each do |category, interests| %>

	<div class="well">
		<strong><h3><%= category %></h3></strong>
	
		<% interests.group_by(&:subcategory).each do |subcategory, interests| %>
		<div>
		<strong><h4><%= subcategory %></h4></strong>
	
			<% interests.each do |interest| %>
			<%= link_to interest.name, interest %> <br>
			<% end %>
		</div>
		<% end %>
	</div>
	<% end %>
</div>