<h1>People with wishlists related to <%= interest.name %> saved these gifts:</h1>

<div class="container">
	<div class="grid">
		
		<%= render 'gifts/gifts' %>

	<div class="clearfix"></div>


	</div>
</div>