/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #CDEAE5;
}	

div.container {
	margin: 0 auto;
}

.well {
	text-align: center;
	margin: 5px;
	display: inline-block;
	min-width: 96%;
}

.grid div.well {
	display: inline-block;
}

.grid {
	-moz-column-count: 4;
 -moz-column-gap: 0px;
 -webkit-column-count: 4;
 -webkit-column-gap: 0px;
 column-count: 4;
 column-gap: 0px;
} 
 
@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
 .grid {
 -moz-column-count: 3;
 -moz-column-gap: 0px;
 -webkit-column-count: 3;
 -webkit-column-gap: 0px;
 column-count: 3;
 column-gap: 0px;
 }
}
 
@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
 .grid {
 -moz-column-count: 2;
 -moz-column-gap: 0px;
 -webkit-column-count: 2;
 -webkit-column-gap: 0px;
 column-count: 2;
 column-gap: 0px;
 }
}

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
 .grid {
 -moz-column-count: 1;
 -moz-column-gap: 0px;
 -webkit-column-count: 1;
 -webkit-column-gap: 0px;
 column-count: 1;
 column-gap: 0px;
 }
}

.title {
	min-height: 80px;
}

div {
	font-family: 'Oxygen', Helvetica, Arial, sans-serif;
}

.container .show {
	text-align: center;
}

.container .show-center {
	width: 400px;
	margin: 0 auto;
	text-align: center;
}

.container .show-center a {
	display: inline-block;
}

.show-center p {
	margin: 10px;
}

.add-new {
	border: 2px dashed gray;
	width: 96%;
	min-height: 200px;
	background-color: #F5F5F5;
	color: #21B6A8;
	display: inline-block;
}

.add-new:hover {
	background-color: white;
	color: #7F171F;
}

.plus-sign {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: lightgray;
	margin: 0 auto;
	margin-top: 50px;
}

.plus-sign i {
	color: white;
	margin-top: 10px;
	margin-left: 2px;
}

.navbar-default {
	background-color: #7F171F;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
	color: #21B6A8;	
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
	color: #177F75;	
}

.btn, .btn-primary {
	background-color: #21B6A8;
	border: 1px solid #21B6A8;
	color: #7F171F;
	margin: 5px;
}

.btn:hover, .btn-primary:hover {
	background-color: #21B6A8;
	border: 1px solid #21B6A8;
	color: #B6212D;
	margin: 5px;
}

.btn:focus, .btn-primary:focus {
	background-color: #21B6A8;
	border: 1px solid #21B6A8;
	color: #B6212D;
	margin: 5px;
}

h1, h2, h3, h4, h5, h6 {
	color: #B6212D;
	margin-top: 5px;
}

div.container.interests {
	margin-left: 20px;
}

div.container.interests.index {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-align: center;
}

.row {
	margin: 0 auto;
}

a {
	color: #21B6A8;
}

a:hover, a:focus {
	color: #B6212D;
}

img {
	border-radius: 7px;
}

.profile-image {
	border-radius: 50%;

}

.show-image {
	width: 50%;
	height: 50%;
	border-radius: 50%;
}

.navbar-image {
	width: 15%;
	height: 15%;
	border-radius: 50%;
}

hr {
	height: 1px;
	color: #B6212D;
	background-color: #B6212D;
	border: none;
}

.clearfix {
	float: none;
	clear: both;
}

img.preview {
	max-height: 200px;
	max-width: 200px;
}